<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.goods.manage.mapper.GoodsMessageMapper">

    <resultMap id="goodsMap" type="com.ruoyi.goods.domain.Goods">
        <result column="ID" jdbcType="VARCHAR" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="commodityName" />
        <result column="PRICE" jdbcType="BIGINT" property="price" />
        <result column="DISCOUNT" jdbcType="BIGINT" property="discount" />
        <result column="SUM" jdbcType="INTEGER" property="sum" />
        <result column="SELL" jdbcType="INTEGER" property="sell" />
        <result column="CAROUSEL" jdbcType="VARCHAR" property="carousel" />
        <result column="DETAIL" jdbcType="VARCHAR" property="detail" />
        <result column="RICHTEXT_ID" jdbcType="VARCHAR" property="richTextId" />
        <result column="JSON" jdbcType="VARCHAR" property="json" />
    </resultMap>

    <sql id="column_list">
        ID,
        NAME,
        PRICE,
        DISCOUNT,
        SUM,
        SELL,
        CAROUSEL,
        DETAIL,
        RICHTEXT_ID,
        JSON
    </sql>

    <insert id="insertGoods" parameterType="com.ruoyi.goods.domain.Goods">
        INSERT INTO tongyu_shop (<include refid="column_list"/>)
        VALUES(
        #{id,jdbcType=VARCHAR},
        #{commodityName,jdbcType=VARCHAR},
        #{price,jdbcType=BIGINT},
        #{discount,jdbcType=BIGINT},
        #{sum,jdbcType=INTEGER},
        #{sell,jdbcType=INTEGER},
        #{carousel,jdbcType=VARCHAR},
        #{detail,jdbcType=VARCHAR},
        #{richTextId,jdbcType=VARCHAR},
        #{json,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateGoods" parameterType="com.ruoyi.goods.domain.Goods">
        update tongyu_shop
        <set>
            <trim suffixOverrides=",">
                <if test="commodityName != null and commodityName != ''">
                    NAME = #{commodityName,jdbcType=VARCHAR},
                </if>
                <if test="price != null and price >= 0 ">
                    PRICE = #{price,jdbcType=BIGINT},
                </if>
                <if test="discount != null and discount >= 0 ">
                    DISCOUNT = #{discount,jdbcType=BIGINT},
                </if>
                <if test="sum != null and sum >= 0 ">
                    SUM = #{sum,jdbcType=BIGINT},
                </if>
                <if test="sell != null and sell >= 0 ">
                    SELL = #{sell,jdbcType=BIGINT},
                </if>
                <if test="carousel != null and carousel != ''">
                    CAROUSEL = #{carousel,jdbcType=VARCHAR},
                </if>
                <if test="detail != null and detail != ''">
                    DETAIL = #{detail,jdbcType=VARCHAR},
                </if>
                <if test="richTextId != null and richTextId != ''">
                    RICHTEXT_ID = #{richTextId,jdbcType=VARCHAR},
                </if>
                <if test="json != null and json != ''">
                    JSON = #{json,jdbcType=VARCHAR}
                </if>
            </trim>
        </set>
        WHERE
        ID = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteGoods" parameterType="java.lang.String" >
        DELETE FROM tongyu_shop WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>

    <select id="queryGoodsList" parameterType="com.ruoyi.goods.domain.Goods" resultMap="goodsMap">
        SELECT <include refid="column_list"/>
        FROM tongyu_shop
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR},
            </if>
            <if test="commodityName != null and commodityName != ''">
               and NAME = #{commodityName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>